.menu {
    width: 60em;
    padding: 0.625em;
    border-bottom: 1px solid gray;
    .logo {
        font-size: 1.5em;
        font-weight: bold;
        text-transform: uppercase;
        display: inline-block;
    }
    .nav {
        display: inline-block;
        max-width: 1200px;
        width: 100%;
        text-align: right;

        ul {
            list-style-type: none;
        }
    }

}

.nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    list-style-type: none;
}

@media (max-width: 576px) {
    .menu {
        width: 35em;
        .logo {
            font-size: 0.8em;
            display: block;
        }
        nav {
            
        }
    }       
}