.menu {
    width: 60em;
    padding: 0.625em;
    border-bottom: 1px solid gray
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}

.nav {
    display: inline-block;
    width: 52.5em;
    text-align: right;
}



.nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
}