

.listad-noticias {
    width: 43.75em;
    float: left;
}

.noticia {
    width: 13.125em;
    display: inline-block;
    margin: 0.3125em;
    cursor: pointer;
}

.cuerpo img {
    width: 13.125em;
    height: 18.75em;
}

.cuerpo p {
    padding: 0.3125em 0.625em;
}

.listado-izquierdo {
    width: 13.75em;
    float: right;
}

.cabecera-listado {
    width: 13.75em;
    border-bottom: 1px solid gray;
}

.tags {
    border-bottom: 1px solid gray;
}

.tags ul {
    padding: 0;
    list-style: none;
}

.tags ul li {
    padding: 0.125em 0.25em;
    background-color: #8080ff;
    margin-right: 1px;
    color: white;
}

.noticias-destacadas {
    margin-bottom: 3.125em;
}

.noticias-destacadas img {
    width: 13.75em;
    height: 12.5em;
}


.newsletter {
    width: 60em;
    background-color: #f2f4f5;
    text-align: center;
    padding-top: 1.875em;
    padding-bottom: 1.875em;
}

.newsletter h2 {
    font-size: 1.5rem
}

@media (max-width: 576px) {

    .listad-noticias {
        width: 20em;
    }

    .noticia {
        text-align: center;
    }

    .newsletter {
        display: inline;
    }

    .listado-izquierdo {
        display: none;
    }
    
}
    

